---
import Layout from '../layouts/Layout.astro'
import Hero from '@components/hero.astro'
import Features from '@components/features.astro'
import Stack from '@components/stack.astro'
import Cta from '@components/cta.astro'
---

<Layout title="Codayumi">
  <main
    class="max-w-screen-lg mx-auto min-h-full mt-20 lg:mt-28 px-6 font-mplus"
  >
    <Hero />
    <Features />
    <Stack />
    <Cta />
  </main>
</Layout>
